@font-face {
	font-family: 'Menlo';
	src: url('../../fonts/menlo/Menlo-Bold.eot');
	src: url('../../fonts/menlo/Menlo-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/menlo/Menlo-Bold.woff') format('woff'),
		url('../../fonts/menlo/Menlo-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Menlo';
	src: url('../../fonts/menlo/Menlo-BoldItalic.eot');
	src: url('../../fonts/menlo/Menlo-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/menlo/Menlo-BoldItalic.woff') format('woff'),
		url('../../fonts/menlo/Menlo-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Menlo';
	src: url('../../fonts/menlo/Menlo-Regular.eot');
	src: url('../../fonts/menlo/Menlo-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/menlo/Menlo-Regular.woff') format('woff'),
		url('../../fonts/menlo/Menlo-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Menlo';
	src: url('../../fonts/menlo/Menlo-Italic.eot');
	src: url('../../fonts/menlo/Menlo-Italic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/menlo/Menlo-Italic.woff') format('woff'),
		url('../../fonts/menlo/Menlo-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

html, body {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Menlo', Monaco, 'Lucida Console', 'Liberation Mono', 'Courier New', monospace, serif;
  font-size: 1em;
  font-weight: normal;
}

/*

  Typography

*/

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

em {
  font-size: 0.875em;
}

h1 {
  font-size: 1em;
}

p {
  font-size: 0.875em;
  font-weight: normal;
  letter-spacing: 0.025em;
  line-height: 1.8em;
}

/* Lists */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*

  Interface

*/
#container {
  margin: 0 auto;
  max-width: 700px;
  padding: 0px 20px;
}

#content {
  margin: 50px 0px;
}

.description a {
  color: #1B95E0 !important;
  padding-bottom: 4px;
}

.description a:hover {
  border-bottom: 2px solid #1B95E0;
}

.description code {
  background-color: #f8f8f8;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  color: #FF3F4B;
  font-family: Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'Courier New', monospace, serif;
  font-size: 1em;
  padding: 4px 5px;
}

.description em {
  font-size: 1em;
}

.description img,
.description p img {
  float: left;
  /*margin: 0 24px 0 0;*/
	margin-bottom: 24px;
	width: 100%;
}

.description .heading {
  color: #FF3F4B;
  font-size: 1em;
  margin: 50px 0 14px 0;
}

.description ul {
  font-size: .875em;
  line-height: 2em;
  list-style: disc;
  margin: 0 0 0 40px;
}

.description ul li {
  padding-left: 10px;
}

.embed {
  display: inline-block;
  margin: 10px 0px;
  width: 100%;
}

.embed iframe {
  width: 100%;
}

footer {
  font-size: 0.75em;
  margin: 40px 0px;
  text-align: center;
}

footer a {
  color: #1B95E0 !important;
  padding-bottom: 4px;
}

footer a:hover {
  border-bottom: 2px solid #1B95E0;
}

footer p {
  line-height: 2.5em;
}

header {
  clear: both;
  font-size: 0.75em;
  margin-bottom: 50px;
  margin-top: 50px;
  overflow: auto;
}

hr {
  background-color: #000000;
  border: none;
  display: block;
  height: 1px;
  margin: 40px 0px;
  opacity: .15;
  padding: 0;
  position: relative;
  width: 100%;
}

/*hr:after {
  content: "***";
  display: block;
  position: relative;
  top: -9px;
  text-align: center;
}*/

.inactive {
  color: #111111 !important;
  pointer-events: none;
}

.meta {
  color: #9d9d9d;
  font-size: 0.875em;
  margin: 0 0 14px 0;
}

/* Navigation */

nav {
  float: right;
}

.nav-item {
  color: #111111 !important;
  float: left;
  margin-right: 20px;
}

.nav-item:last-child {
  margin-right: 0px;
}

.pagination {
  clear: both;
  font-size: .875em;
  height: 22px;
  overflow: auto;
  text-align: center;
}

.pagination a {
  cursor: pointer;
  padding-bottom: 4px;
}

.pagination a:hover {
  border-bottom: 2px solid black;
}

.pagination .inactive {
  color: #9d9d9d !important;
}

.pagination .newer {
  float: right;
}

.pagination .older {
  float: left;
}

.permalink {
  color: #1B95E0 !important;
  font-size: 0.875em;
  font-weight: normal;
  padding-bottom: 4px;
}

.permalink:hover {
  border-bottom: 2px solid #1B95E0;
}

.post-slug {
  margin-bottom: 50px;
}

pre {
  background-color: #f8f8f8;
  font-family: 'Menlo';
  font-size: .875em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 20px 0px;
  overflow: scroll;
  padding: 20px;
  max-width: 100%;
}
.project {
  margin-bottom: 40px;
}

.project img {
  width: 100%;
  margin-bottom: 25px;
}

.selected {
  font-weight: bold;
}

.separator {
  text-align: center;
  margin: 40px 0 50px 0;
}

.site-title {
  color: #111111 !important;
  float: left;
  font-size: 1em !important;
  font-weight: normal;
  margin: 0;
  text-transform: lowercase;
}

.title {
  color: #FF3F4B;
  line-height: 2em;
  margin: 0 0 10px 0;
}

.tweet-button {
  margin-bottom: 50px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .meta {
    font-size: .75em;
  }
}
