<div class="row">

  <h1 class="title">
    <a href="{{ entry.url }}">{{ entry.heading }}</a>
  </h1>

  {%

    include "includes/meta"

  %}

  <div id="js-description" class="description">

    {% for block in entry.contentSection %}

      {% if block.type == 'image' %}
      {% set image = block.image.first() %}
        <img src="{{ image.url }}" width="100%" alt="">
      {% endif %}

      {% if block.type == 'heading' %}
        <h2 class="heading">{{ block.heading }}</h2>
      {% endif %}

      {% if block.type == 'body' %}
        {{ block.body }}
      {% endif %}

      {% if block.type == 'embed' %}
        <div class="embed">
          {{ block.script|raw }}
        </div>
      {% endif %}

    {% endfor %}

  </div>

  <div class="separator">***</div>

  <div class="tweet-button">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="tylerreckart" data-size="large">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Article -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-5103755521227726"
       data-ad-slot="9271550292"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
    this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() {
    var d = document, s = d.createElement('script');

    s.src = '//tylerreckart.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
