{% paginate craft.entries.section('journal').limit(5) as pageInfo,
pageEntries %}

{% for entry in pageEntries %}
  <div class="row post-slug">
    <h1 class="title">
      <a href="{{ entry.url }}">{{ entry.heading|hacksaw(chars='70', append='...') }}</a>
    </h1>

    {%

      include "includes/meta"

    %}

    <div class="description">
      {% for block in entry.contentSection %}
      {% if block.type == 'body' %}
        <p>{{ block.body|hacksaw(words='50', append='...')  }}</p>
      {% endif %}
      {% endfor %}
    </div>

    <a class="permalink" href="{{ entry.url }}">Read more</a>
  </div>
{% endfor %}

<div class="row pagination">
  {% if pageInfo.prevUrl %}
    <a href="{{ pageInfo.prevUrl }}" class="older">Older</a>
  {% else %}
    <span class="inactive older">Older</span>
  {% endif %}

  <span class="pages">{{ pageInfo.currentPage }} of {{ pageInfo.totalPages }}</span>

  {% if pageInfo.nextUrl %}
    <a href="{{ pageInfo.nextUrl }}" class="newer">Newer</a>
  {% else %}
    <span class="inactive newer">Newer</span>
  {% endif %}
</div>

