{% extends "_layout" %}

{% do craft.sproutSeo.meta({
        default: 'default',
        title: entry.heading
}) %}

{% block content %}

<script>
  var template = 'about';
</script>

<h1 class="title">{{ entry.heading }}</h1>
<div class="description">

  {% for block in entry.contentSection %}

    {% if block.type == 'heading' %}
      <h2 class="heading">{{ block.heading }}</h2>
    {% endif %}

    {% if block.type == 'body' %}
      {{ block.body }}
    {% endif %}

    {% if block.type == 'embed' %}
      {{ block.script }}
    {% endif %}

  {% endfor %}

</div>

{% endblock %}
